# Gradle / Android Studio
.gradle/
build/
/local.properties
/.idea/
*.iml
.kotlin/
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store

# Firebase CLI
.firebase/
firebase-debug.log
firestore-debug.log
